%button {
  all: unset;

  cursor: pointer;

  height: 3.2rem;
  font-size: var(--fs-16);
  padding: 0.4rem 0.8rem;
  color: var(--tertiary-clr);

  display: grid;
  justify-content: center;
  align-items: center;

  @media (hover) {
    &:hover {
      opacity: 0.7;
    }
  }

  &:focus {
    outline: 0.25rem solid var(--tertiary-clr);
    outline-offset: 4px;
  }

  &:active {
    transform: scale(0.95);
  }
}

.button {
  @extend %button;
  min-width: 7.2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--tertiary-clr);
  background-color: var(--secondary-clr);

  transition: opacity 200ms ease-in-out, transform 200ms ease;

  &.--red {
    color: var(--secondary-clr);
    background-color: var(--cancel-clr);
    border: 1px solid rgb(196, 75, 53);

    &:focus {
      outline-color: var(--cancel-clr);
    }
  }
}

.back-button {
  @extend %button;
  border: none;
  color: var(--cancel-clr);
  font-size: var(--fs-24);
  background-color: initial;

  &:focus {
    outline-color: var(--cancel-clr);
  }
}

.close-btn {
  cursor: pointer;
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  background-color: var(--cancel-clr);
  font-size: var(--fs-16);
  font-weight: bold;
  color: var(--secondary-clr);
  top: 0.8rem;
  right: 0.8rem;

  @media (hover) {
    transition: opacity 500ms ease;
    &:hover {
      opacity: 0.75;
    }
  }
}