.input-block {
  margin-bottom: 1.6rem;

  &__label {
    margin-bottom: 0.4rem;
  }

  &__input {
    height: 4rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    font-size: var(--fs-16);
    border: 1px solid var(--quaternary-clr);
  }
}
