$breakpoints: (
  'tiny': (
    min-width: 500px,
  ),
  'medium': (
    min-width: 800px,
  ),
  'large': (
    min-width: 1000px,
  ),
);

$colors: (
  'primary-clr': #fff,
  'secondary-clr': #f5f5f5,
  'tertiary-clr': #7f969c,
  'quaternary-clr': #7f969c86,
  'cancel-clr': tomato,
);

$fontSizes: (
  'fs-16': 1.6rem,
  'fs-24': 2.4rem,
  'fs-32': 3.2rem,
);

$lineHeights: (
  'lh-16': calc(1.6rem * 1.5),
  'lh-24': calc(2.4rem * 1.2),
  'lh-32': calc(3.2rem * 1.2),
);
