@import '../components/contact';
@import '../components/settings';

@import '../layouts/contacts';

.settings-container {
  position: relative;
  height: 100%;

  &.on {
    .settings {
      border-color: var(--secondary-color);

      &-list {
        opacity: 1;
        pointer-events: initial;
      }

      &::before {
        transform: translate(-50%, -50%);
      }
    }
  }
}

.settings-button {
  cursor: pointer;
  width: 2.5rem;
  height: 100%;
  border: none;
  background-color: initial;

  .dot {
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    margin: 0.2rem auto;
  }
}

.search-result.on {
  position: absolute;
  width: 100%;

  background-color: #fff;

  top: 0;
  right: 0;

  &:empty::after {
    content: 'Resultados';

    position: absolute;

    color: var(--tertiary-color);
    font-size: var(--font-16);
    opacity: 0.7;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.contacts.--hidden {
  visibility: hidden;
  height: 0;
}
