@import '../components/contact';
@import '../components/settings';

@import '../layouts/contacts';

.settings-container {
  position: relative;
  height: 100%;

  &.on {
    .settings {
      border-color: var(--secondary-color);

      &-list {
        opacity: 1;
        pointer-events: initial;
      }

      &::before {
        transform: translate(-50%, -50%);
      }
    }
  }
}

.settings-button {
  cursor: pointer;
  width: 2.5rem;
  height: 100%;
  border: none;
  background-color: initial;

  .dot {
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    margin: 0.2rem auto;
  }
}