.contacts {
  height: calc(100vh - var(--header-height));
  list-style: none;
  overflow-y: scroll;

  scrollbar-width: none;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::after {
    content: '';
    display: block;
    padding-bottom: 12rem;
  }
}

.contact-list {
  &__label {
    display: block;
    width: 100%;
    padding: 1rem 2rem;

    text-align: right;
    font-size: var(--fs-24);
    color: var(--tertiary-clr);
  }
}
