@import '../components/input';

.header {
  position: fixed;
  height: var(--header-height);
  display: flex;
  align-items: center;

  background-color: #fff;
  border-bottom: 1px solid var(--quaternary-clr);

  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

  &__add-contact {
    width: 5rem;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-16);
  }
}

.search {
  height: 100%;
  width: 100%;

  padding: 0 1.6rem;
  font-size: var(--fs-16);

  border: none;
  border-left: 1px solid var(--quaternary-clr);
  border-right: 1px solid var(--quaternary-clr);

  &__close {
    cursor: pointer;
    width: 0;
    border: none;
    
    font-size: var(--fs-16);
    color: var(--tertiary-clr);
    background-color: initial;
    pointer-events: none;

    will-change: width;
    transition: width 150ms linear;
  }

  &-bar {
    width: 95%;
    height: 100%;
    display: flex;

    &.on .search__close {
      width: 5rem;
      pointer-events: initial;
    }
  }
}
