@import '../components/input';

.header {
  position: fixed;
  height: var(--header-height);
  display: flex;
  align-items: center;

  background-color: #fff;
  border-bottom: 1px solid var(--quaternary-clr);

  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

  .icon-btn {
    font-size: var(--fs-16);
  }
}

.search {
  height: 100%;
  width: 100%;

  padding: 0 1.6rem;
  font-size: var(--fs-16);

  border: none;
  border-left: 1px solid var(--quaternary-clr);
  border-right: 1px solid var(--quaternary-clr);

  &-bar {
    width: 100%;
    height: 100%;
    display: flex;

    .icon-btn {
      position: relative;

      .fas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        transition: opacity 200ms ease;
      }

      .close {
        opacity: 0;
      }
    }
  }
}

.header.search-mode {
  .search-bar .icon-btn {
    .open {
      opacity: 0;
    }

    .close {
      opacity: 1;
    }
  }

  .add-contact {
    display: none;
  }
}
