@import '../components/button';

.contact-form {
  width: 100%;
  max-width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: var(--fs-16);
  color: var(--tertiary-clr);

  fieldset {
    border: none;
  }

  legend {
    font-weight: bold;
    font-size: var(--fs-24);
    margin-bottom: 2.4rem;
  }

  label {
    display: block;
  }
}
